<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Agradecemos por escolher a Hexperience</p>
  <p>Se deseja confirmar o cadastro clique no link abaixo</p>
  <p>
    <a href="{{link}}">Confirmar Cadastro</a>
  </p>
  <p>Se não deseja confirmar o cadastro, então descarte esse email!</p>
  <p>
    Obrigado!<br />
    <strong>Team Endeavour</strong>
  </p>
</div>
