<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Bem Vindo ao Hexperience!</p>
  <p>
    Estamos muito felizes por ter você com a gente, você
    está pronto para aproveitar ao máximo nossos serviços
    e viver experiências inesquecíveis?
  </p>
  <p>Estamos quase lá!</p>
  <p>
    Confirme seu endereço de e-mail para concluir a criação
    da sua conta no Hexperience
  </p>
  <p>É fácil basta utilizar o token abaixo</p>
  <br />
  <p>{{token}}</p>
  <br />
  <p>Se não deseja confirmar o cadastro, desconsidere esse email!</p>
  <p>
    Obrigado!<br />
    <strong>Team Endeavour</strong>
  </p>
</div>
