<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Infelizmente você está bloqueado de usar a plataforma Hexperience</p>
  <p>
    Após um processo de análise das denúncias que você recebeu, nossa equipe decidiu
    bloquear você por {{days_blocked}}, o que significa que no dia {{unlock_date}}
    você poderá voltar à utilizar nossa aplicação
  </p>
  <p>
    Por estar bloqueado, você não será capaz de realizar login na nossa plataforma.
    Todos os seus agendamentos e agendamentos que foram feitos em experiências
    oferecidas por você foram cancelados.
  </p>
  <p>Agradecemos a sua compreensão e atenção, e esperamos te ver em breve</p>
  <p>
    Obrigado!<br />
    <strong>Team Endeavour</strong>
  </p>
</div>
