<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Infelizmente a sua solicitação de privilégio de anfitrião foi negada</p>
  <p>
    Alguma irregularidade foi encontrada ou você não atende
    um dos requisitos necessários para se tornar um anfitrião.
  </p>
  <p>Abaixo segue um detalhamento da razão para sua solicitação ter sido negada</p>
  <p>
    {{reason}}
  </p>
  <p>
    Caso você ainda deseja se tornar um anfitrião, basta corrigir os pontos
    apresentados no detalhamento e enviar novamente uma solicitação
  </p>
  <p>Agradecemos a sua compreensão e atenção</p>
  <p>
    Obrigado!<br />
    <strong>Team Endeavour</strong>
  </p>
</div>
